/*
* Chat styles
 */

@use "sass:math";

$message-appear-time: .4s;

body {
  background-color: $home-chat-bg-color;

  @include breakpoint($mobile) {

    height: 100%;
  }

  bobra-quickpay {

    @include breakpoint($mobile) {

      height: 100%;
    }
  }

  .main {

    @include breakpoint($mobile) {

      min-height: auto;
    }
  }
}

div:focus {

  outline: none;
}

.section-chat {
  @include flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .chat-stream {
    display: block;

    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: math.div(92em, 16) 0 math.div(124em, 16);

    scroll-behavior: smooth;

    @include breakpoint($mobile) {

      padding: math.div(80em, 16) $section-content-indent-x-mob math.div(16em, 16);
    }

    @include breakpoint($iphone5-p) {

      padding: math.div(80em, 16) math.div(15em, 16) math.div(16em, 16);
    }

    @include breakpoint($tablet-p) {

      padding: math.div(94em, 16) $section-content-indent-x-mob math.div(124em, 16);
    }
  }

  $placeholder: rgba(66,140,206,.3);

  .form__control::placeholder {

    color: $placeholder;
  }

  .form__control:-ms-input-placeholder {

    color: $placeholder;
  }

  .form__control::-ms-input-placeholder {

    color: $placeholder;
  }

  // Removing input background color for Chrome autocomplete
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 300px white inset !important;
  }
}

.chat-list {
  max-width: 750px;

  position: relative;

  margin-right: auto;
  margin-left: auto;

  z-index: 1;

  @include breakpoint($mobile) {

    @include clearfix;
  }

  .form-group {

    .btn-container {

      &.v-align {
        position: absolute;

        top: 50%;
        right: 7px;
        transform: translateY(-50%);

        margin: auto;

        @include breakpoint($mobile) {
          top: 49%;
          right: 5px;
        }
      }
    }

    .btn {
      vertical-align: middle;

      font-size: math.div(20em, 16);

      & + .btn {
        margin-left: math.div(14em, 16);

        @include breakpoint($mobile) {

          margin-left: math.div(6em, 16);
        }
      }

      .icon {
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;
      }
    }
  }

  .form__control {
    width: 100%;

    vertical-align: middle;
  }

  .btn_outline {
    border-color: $color-primary;

    box-shadow: inset 0 0 1px 0 $color-primary, 0 0 1px 0 $color-primary;
  }

  .btn_white {

    color: #3186C3;
  }
}

.message {
  display: table;

  width: 100%;

  position: relative;

  &.lower {

    .wrap {

      padding: math.div(11em, 16) math.div(22em, 16);
    }
  }

  // cancel animation for previously displayed bot messages
  & *:not(:last-of-type),
  &.user-data {

    .wrap {

      &:after {
        width: 100%;
        height: 100%;
        animation: none;
      }

      .animated {
        transform: none;
        opacity: 1;
        animation: none;
      }
    }
  }

  &.has-time {
    margin-bottom: math.div(30em, 16);

    & + .message {

      margin-top: 0;
    }
  }

  & + .message,
  & + form {
    margin-top: math.div(30em, 16);
  }

  .btn_white {
    transition-duration: .2s;
    transition-timing-function: ease-out;
    transition-property: border-bottom, box-shadow, transform;

    &:hover {
      border-bottom: 1px solid #bddcf7e0;

      background-color: #fff;

      box-shadow: 0 9px 28px -11px rgba(137, 191, 241, 0.8);

      transform: translateY(-2px);
    }
  }

  .btn_blue {
    position: relative;

    &:hover {

      &:not(.btn_sm) {
        box-shadow: 0 6px 23px -4px rgba(0, 130, 251, .65);

        border-color: #0073ea;

        transform: translateY(-2px);

        &:before {

          border-color: #53cbff;
        }
      }
    }
  }

  .emoji {

    display: inline-block;
  }

  .wrap {
    display: block;

    position: relative;

    padding: math.div(18em, 16) math.div(22em, 16);

    @include breakpoint($mobile) {

      padding: math.div(10em, 16) math.div(15em, 16);
    }

    &:after {
      content: "";

      width: 0;
      height: 0;

      top: 0;

      position: absolute;

      z-index: -1;
    }

    .animated {
      width: 100%;
      height: 100%;

      transform: matrix(1, 0, 0, 1, 0, -5);

      opacity: 0;

      animation: contentAppear .1s .4s ease-in-out forwards;
    }

    a {
      color: #3c9cf4;

      &:not(.btn_pdf) {

        text-decoration: underline;
      }
    }

    p,
    span,
    ul > li {
      line-height: math.div(23em, 17);
      font-size: math.div(17em, 16);

      @include breakpoint($mobile) {
        line-height: math.div(22em, 16);
        font-size: math.div(16em, 16);
      }

    }
  }

  p + img {

    margin-top: math.div(20em, 16);
  }

  .form-group {

    max-width: 478px;
  }

  &.user-data {
    width: 100%;

    animation: contentAppear 1s ease-in-out forwards;

    &:after {

      border-radius: 18px;
    }

    &.total {

      .wrap {
        padding-bottom: 0;

        .panel-body {

          .form-group {

            @include breakpoint($mobile) {

              flex-direction: row;
            }

            .label {

              @include breakpoint($mobile) {

                min-width: 110px;
              }
            }
          }
        }
      }
    }

    .wrap {
      width: 100%;

      padding: math.div(25em, 16) math.div(20em, 16);

      @include breakpoint($mobile) {

        padding: math.div(25em, 16) math.div(20em, 16);
      }

      h4 {
        margin-left: 0;

        font-size: math.div(24em, 16);
        font-weight: $regular;
        color: #1c5377;

        @include breakpoint($mobile) {

          font-size: math.div(23em, 16);
        }
      }

      .panel-body {
        margin-top: math.div(21em, 16);

        padding: 0;

        @include breakpoint($mobile) {

          margin-top: math.div(10em, 16);
        }

        .half {

          &:last-of-type {

            .form-group {

              &:last-of-type {

                @include breakpoint($mobile) {

                  border-bottom: none;
                }
              }
            }
          }

          & + .half {
            margin-top: math.div(10em, 16);

            @include breakpoint($mobile) {

              margin-top: 0;
            }
          }
        }

        .transparent {
          color: rgba(28, 83, 119, .27);
          font-size: math.div(13em, 16);
          font-weight: $bold;

          @include breakpoint($mobile) {

            display: none;
          }
        }

        .form-group {
          padding: math.div(3em, 16) 0 math.div(5em, 16);

          border-bottom: 1px solid rgba(28, 83, 119, .12);

          transition: border-bottom .2s linear;

          @include breakpoint($mobile-p) {
            @include flex;
            align-items: normal;

            padding: math.div(6em, 16) 0;

            .label {

              text-align: left;
            }
          }

          &:hover {
            border-bottom: 1px solid rgba(28, 83, 119, .3);

            .btn_edit {

              .icon {

                opacity: 1;
              }
            }
          }

          &:last-of-type {
            border-bottom: none;

            @include breakpoint($mobile) {

              border-bottom: 1px solid rgba(28, 83, 119, .12);
            }
          }

          & + .form-group {

            margin-top: 0;
          }

          .label {
            min-width: 122px;

            @include breakpoint($mobile) {

              min-width: 85px;
            }
          }

          span {
            font-size: math.div(14em, 16);

            @include breakpoint($mobile) {

              font-size: math.div(15em, 16);
            }
          }
        }

        .total {
          margin-top: 10px;

          @include breakpoint($mobile) {

            margin-top: math.div(15em, 16);
          }

          .decreased {

            font-size: math.div(15em, 23);
          }
        }
      }

      .panel-footer {
        @include flex;

        margin: math.div(20em, 16) math.div(-20em, 16) 0;
        padding: math.div(20em, 16);

        position: relative;

        border-radius: 0 0 18px 18px;

        background: rgba(242, 249, 255, .35);

        @include breakpoint($mobile) {

          flex-direction: column;
        }

        &:after,
        &:before {
          content: "";

          width: 16px;
          height: 16px;

          position: absolute;

          top: -8px;

          border-radius: 50%;

          z-index: 1;
        }

        &:after {
          left: -8px;

          background: linear-gradient(-90deg, #DAEBF8, #EFF8FF);
        }

        &:before{
          right: -8px;

          background: linear-gradient(90deg, #DAEBF8, #EFF8FF);
        }

        .line {
          width: 100%;
          height: 1px;

          position: absolute;

          top: 0;
          left: 0;
        }

        .solid {
          display: inline-block;

          font-weight: $bold;
          font-size: math.div(17em, 16);

          .increased {
            font-size: math.div(22em, 17);
          }
        }

        .half {
          @include flex;
          flex-wrap: wrap;
          flex-direction: column;

          width: 50%;

          @include breakpoint($mobile) {
            flex-direction: row;
            flex-wrap: nowrap;

            width: 100%;
          }

          &:first-of-type {

            span {
              font-size: math.div(15em, 16);

              &:first-of-type {
                margin-bottom: math.div(7em, 15);

                @include breakpoint($mobile) {

                  margin-right: math.div(20em, 15);
                }
              }
            }
          }

          &:last-of-type {
            font-weight: $bold;

            @include breakpoint($mobile) {

              flex-wrap: wrap;
            }

            .label {
              margin-bottom: math.div(7em, 15);

              font-size: math.div(15em, 16);

              @include breakpoint($mobile) {
                width: 100%;

                margin-bottom: 0;

                font-size: math.div(16em, 16);
              }
            }
          }

          .total {
            @include justify-content;
            align-items: center;

            @include breakpoint($mobile) {

              width: 100%;
            }

            .form-group {
              width: 100%;

              padding-bottom: 0;

              text-align: right;

              transition: border-bottom .2s linear;

              .btn {
                margin-bottom: 5px;
                padding: 9px;

                .icon {
                  transition: opacity .2s linear;

                  opacity: .58;
                }
              }

              &:hover {
                border-bottom: 1px solid rgba(28, 83, 119, .3);

                .btn {

                  .icon {

                    opacity: 1;
                  }
                }
              }
            }

            > span {
              font-size: math.div(15em, 16);
              line-height: 6px;

              .increased {
                line-height: math.div(20em, 23);
                font-size: math.div(23em, 15);

                @include breakpoint($mobile) {

                  font-size: math.div(25em, 15);
                }
              }
            }
          }
        }
      }
    }

    .form-group,
    .wrap {

      max-width: none;
    }
  }

  time {
    position: absolute;

    bottom: -18px;
    left: 0;

    transform: translateY(-5px);

    font-size: math.div(11em, 16);
    color: rgba(34, 114, 165, .45);

    opacity: 0;

    animation: contentAppear .1s .5s ease-in-out forwards;
  }

  &.timeout {

    @include breakpoint($mobile) {

      width: auto;
    }

    .wrap {

      padding: math.div(11em, 16) math.div(24em, 16);
    }

    .btn_white {
      border-bottom: 1px solid rgba(186,217,245,.88);

      box-shadow: 0 3px 13px -4px rgba(137,191,241,.6);

      color: #3186c3;

      &:hover {
        transform: translateY(0);

        color: #0088ea;
      }
    }
  }

  .phone-link {
    display: inline-block;

    font-size: math.div(17em, 16);
    font-weight: $regular;
    color: #3C9CF4;

    &:hover {

      span {

        color: #128AF0;
      }
    }

    &:first-child {
      margin-bottom: 0;

      &:after {

        content: ",";
      }
    }
  }

  .social-list {
    margin-top: 0;

    a {
      width: 55px;
      height: 55px;

      position: relative;

      border-radius: 50%;
      border-bottom: 1px solid #c4dff7;

      background-color: #fff;

      box-shadow: 0 3px 8px rgba(137, 191, 255, .43);

      & + a {

        margin-left: math.div(15em, 16);
      }
    }

    .icon {

      &:hover {

        .icon-fill {

          fill: #2C7DC3;
        }
      }

      &-fill {

        fill: $color-primary;
      }
    }
  }
}

.debug-message {
  filter: hue-rotate(180deg);
  opacity: 0.8;
}

.bot-message {
  $message-border-radius: 18px;

  width: auto;
  max-width: 450px;

  @include breakpoint($mobile) {

    max-width: 90%;
  }

  & + .bot-message,
  & + form .bot-message {

    .wrap {

      &:after {

        border-radius: 18px;
      }
    }
  }

  &:not(.has-time) + .bot-message,
  &:not(.has-time) + form .bot-message {

    margin-top: math.div(9em, 16);
  }

  .wrap {
    color: #1C5377;

    &:after {
      left: 0;

      border-radius: 0 $message-border-radius $message-border-radius $message-border-radius;

      background-color: #fff;

      box-shadow: 0 6px 16px -10px rgba(0,128,237,.45);

      animation: bubbleAppear $message-appear-time ease-in-out forwards;
    }
  }

  & + .bot-message {

    border-top-left-radius: $message-border-radius;
  }

  .btn-container {

    margin-top: math.div(15em, 16);
  }

  .btn {
    padding: math.div(13.5em, 17) math.div(20em, 17);

    font-size: math.div(17em, 16);

    @include breakpoint($mobile-p) {

      font-size: math.div(15em, 16);
    }

    @include breakpoint($mobile-l) {

      font-size: math.div(16em, 16);
    }

    & + .btn {

      margin-left: math.div(15em, 17);
    }
  }

  ul {
    margin-top: math.div(14em, 16);

    > li {
      display: block;

      & + li {

        margin-top: math.div(7em, 17);
      }
    }

    .icon,
    span {

      vertical-align: middle;
    }

    .icon {

      margin-right: math.div(15em, 16);
    }
  }
}

.user-message {
  text-align: right;

  @include breakpoint($mobile-p) {

    float: right;
  }

  > .h-align {
    width: 100%;
    max-width: 400px;

    float: right;
  }

  .wrap {
    display: inline-block;

    width: auto;
    max-width: 450px;

    color: #fff;

    @include breakpoint($mobile) {

      padding: math.div(13em, 16) math.div(20em, 16);
    }

    &:after {
      right: 0;

      border-radius: 15px 0 15px 15px;

      background: #0e8fff;

      box-shadow: 0 2px 8px rgba(38,153,251,.52);

      animation: bubbleAppear .4s .2s ease-out forwards;
    }

    p {

      font-size: math.div(18em, 16);
    }
  }

  .btn-container {

    a + a,
    a + button,
    button + a,
    button + button {
      margin-left: 16px;

      @include breakpoint($mobile) {
        margin-top: 10px;
        margin-left: 10px;
      }
    }

    button + .long {

      @include breakpoint($mobile-p) {

        margin-top: 10px;
      }
    }
  }

  time {
    left: auto;
    right: 0;
  }

  &.editing {
    opacity: 0;

    animation: contentAppear $message-appear-time .5s linear forwards;

    .form-group {
      margin-left: math.div(16em, 16);

      @include breakpoint($mobile) {
        width: 100%;

        margin-left: 0;
      }
    }

    .form__control {
      width: 100%;
      max-width: 366px;

      padding: math.div(19.5em, 24) math.div(76em, 24) math.div(19.5em, 24) math.div(27em, 24);

      border-radius: 35px;
      border-bottom: 1px solid #ADD3F5;

      box-shadow: 0 8px 30px -13px rgba(137, 191, 241, 0.93);

      font-size: math.div(24em, 16);
      color: #1C5377;

      @include breakpoint($mobile-p) {
        min-width: 290px;

        padding: math.div(17em, 19) math.div(66em, 19) math.div(17em, 19) math.div(22em, 19);

        font-size: math.div(19em, 16);
      }

      @include breakpoint($iphone5-p) {
        min-width: 250px;

        margin-right: 0;
      }

      &:hover,
      &:focus {
        border-color: transparent transparent #add3f5;

        box-shadow: 0 3px 7px rgba(137,191,241,.38);
      }
    }

    .btn-container {

      .btn_action {
        width: 54px;
        height: 54px;

        position: relative;

        padding: 0;

        border-radius: 50%;
        border-bottom: 1px solid #0071d2;

        background: linear-gradient(-180deg, #30a9ff, #0a80f7) no-repeat;

        box-shadow: 0 1px 4px rgba(38,153,251,.85);

        transition-property: background, box-shadow, border-bottom;
        transition-duration: .2s;
        transition-timing-function: linear;

        @include breakpoint($mobile) {
          width: 48px;
          height: 48px;
        }

        &:hover {

          &:before {

            opacity: 1;
          }
        }

        &:after,
        &:before {
          content: '';

          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          position: absolute;

          border-radius: 50%;

          z-index: 1;
        }

        &:before {
          border-top: 1px solid #86cbff;

          background: linear-gradient(-180deg, #47b3ff, #0180ff) no-repeat;

          opacity: 0;

          transition: opacity .2s ease-in-out;
        }

        &.enabled {

          &:after {
            bottom: -2px;

            border-top: 1px solid #7FC0FD;

            background: linear-gradient(#98D5FF, #EDF7FF) no-repeat;

            animation: disappearance .3s linear forwards;
          }
        }

        &.disabled {
          border-bottom: transparent;

          background: linear-gradient(#98D5FF, #EDF7FF) no-repeat;

          box-shadow: none;

          pointer-events: none;

          &:hover {

            &:before {

              opacity: 0;
            }
          }

          &:before {
            background: linear-gradient(-180deg, #30a9ff, #0a80f7) no-repeat;

            box-shadow: 0 1px 4px rgba(38,153,251,.85);

            animation: disappearance .2s linear forwards;
          }

          &:after {

            border-top: 1px solid #7FC0FD;
          }
        }
      }
    }
  }

  &:not(.editing) {

    .form__control {
      padding: (20em*0.05) (76em*0.05) (20em*0.05) (24em*0.05);

      border-radius: 15px 0 15px 15px;

      background: #0e8fff;

      box-shadow: 0 4px 15px -3px rgba(4, 129, 234, 0.45);

      font-size: math.div(20em, 16);
      color: $color-secondary;
    }
  }

  .btn.btn_sm.btn_cropped.btn_blue {

    background: linear-gradient(-90deg, #0e8fff, #39a3ff);

    transform: none;

    &:after {
      content: none;
    }
  }

  > .btn-container {
    display: inline-block;

    vertical-align: middle;

    &.m-b {

      @include breakpoint($mobile-p) {

        margin-bottom: 16px;
      }
    }

    .btn_blue {

      padding: (17em*0.05) (30em*0.05);

      @include breakpoint($mobile) {

        padding: math.div(11em, 16) math.div(25em, 16);
      }

      &.full-sized-mobile {
        font-size: math.div(20em, 16);

        @include breakpoint($mobile-p) {
          padding-top: math.div(15em, 23);
          padding-bottom: math.div(15em, 23);
          padding-right: math.div(46em, 23);

          font-size: math.div(23em, 16);
        }

        @include breakpoint($mobile-l) {
          padding: (15em*0.05) (30em*0.05);

          font-size: math.div(20em, 16);
        }
      }
    }

    .btn {

      &:not(.btn_blue) {
        padding: (20em*0.05) (30em*0.05);

        @include breakpoint($mobile) {

          padding: math.div(14em, 18) math.div(25em, 18);
        }
      }
    }
  }
}

.icon {

  &_eye {
    width: 21px;
    height: 13px;
  }

  &_pencil {
    width: 14px;
    height: 14px;
  }

  &_airplane {
    width: 22px;
    height: 19px;

    z-index: 2;
  }

  &_mastercard-solid {
    width: 46px;
    height: 29px;
  }
}

@keyframes contentAppear {
  from {
    transform: matrix(1, 0, 0, 1, 0, -5);

    opacity: 0;
  }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);

    opacity: 1;
  }
}

@keyframes bubbleAppear {
  from {
    width: 0;
    height: 0;

    opacity: 0;
  }
  to {
    width: 100%;
    height: 100%;

    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
