/*
* footer
 */

.footer {
  background: linear-gradient(#EFF8FF, #CEE1F0);

  color: $color-primary;

  @include breakpoint($mobile-p) {

    display: none;
  }

  @include breakpoint($mobile-l) {

    background: rgba(195,218,236,.33);
  }

  .payment-systems {
    @include flex;
    align-items: center;

    opacity: .33;

    .icon {

      & + .icon {
        margin-left: 15px;
      }

      &_visa {
        height: 15px;
      }

      &_mastercard {
        height: 21px;
      }

      &_privat {
        height: 18px;

        margin-top: 2px;
      }
    }
  }

  .container {
    @include flex-wrap;

    max-width: (1300em/16);
  }

  &.mobile {
    display: none;
    
    color: $color-primary;

    &:not(.hide) {

      @include breakpoint($mobile) {

        display: block;
      }
    }

    .footer {

      &-below {
        background-color: rgba(195,218,236,.25);

        .container {
          padding: (15em/16) 0;

          @include breakpoint($mobile) {
            @include flex;
            flex-direction: column;
            align-items: center;
          }
        }

        .author {

          margin-top: (7em/16);
        }
      }
    }
  }

  &-above {
    padding: (22em/16);

    color: #1D5A8E;

    @include breakpoint($laptop) {
      padding-right: (33em/16);
      padding-left: (33em/16);
    }

    @include breakpoint($tablet) {
      padding-right: (30em/16);
      padding-left: (30em/16);
    }

    > .container,
    .right {

      @include justify-content;
    }
  }

  &-below {
    padding: 0 (22em/16);

    background-color: rgba(195,218,236,.33);

    @include breakpoint($laptop) {
      padding-right: (33em/16);
      padding-left: (33em/16);
    }

    @include breakpoint($tablet) {
      padding-right: (30em/16);
      padding-left: (30em/16);
    }

    @include breakpoint($mobile) {

      background: none;
    }

    > .container {
      @include justify-content;
      align-items: center;

      position: relative;

      padding: (23em/16) 0;

      &:before {

        content: none;
      }

      @include breakpoint($mobile-p) {

        display: block;
      }
    }

    p {
      display: inline-block;

      width: 83%;

      line-height: (16em/11);
      font-size: (11em/16);
      color: #1C5377;

      opacity: .34;

      @include breakpoint($mobile-p) {

        width: 100%;
      }

      @include breakpoint($tablet) {

        width: 100%;
      }

      @include breakpoint($mobile) {
        text-align: center;

        opacity: .4;
      }
    }
  }

  .right {
    text-align: right;

    @include breakpoint($mobile) {
      margin-top: (18em/16);

      text-align: initial;
    }
    
    @include breakpoint($mobile-p) {
      @include justify-content;

      width: 100%;
    }

    @include breakpoint($tablet-p) {
      margin-top: (16em/16);

      text-align: initial;
    }

    .wrap {
      margin-left: (45em/16);

      @include breakpoint($mobile-p) {
        margin-left: 0;
        text-align: right;
      }

      @include breakpoint($tablet) {

        margin-left: (30em/16);
      }
    }
  }

  .panel-simple {
    display: inline-block;

    @include breakpoint($mobile-l) {
      @include justify-content;
      align-items: flex-end;
    }

    @include breakpoint($tablet) {

      align-self: flex-end;
    }

    .panel-main,
    .panel-aside {
      display: inline-block;

      vertical-align: bottom;
    }

    .panel-aside {
      padding-left: (4em/16);

      @include breakpoint($mobile-p) {
        margin-top: (12em/16);
        padding-left: 0;
      }

      @include breakpoint($tablet) {

        display: none;
      }
    }
  }

  .panel-main {
    width: 100%;
    max-width: 385px;

    @include breakpoint($mobile) {

      max-width: none;
    }

    @include breakpoint($mobile-l) {

      padding-right: (24em/16);
    }

    > span {
      font-size: (13em/16);
      font-weight: $semi-bold;

    }

    > p {
      margin-top: (2em/12);

      line-height: 1.5em;
      font-size: 11px;
      opacity: .7;
    }
  }

  .support,
  .social-list {

    display: inline-block;
  }

  .support {

    @include breakpoint($mobile-p) {

      width: 55%;
    }

    @include breakpoint($tablet) {

      line-height: (17em/16);
    }

    .btn_blue {

      display: none;
    }
  }

  .social-list {
    margin-top: (10em/16);

    .icon-fill {

      fill: #1D5A8E;
    }
  }

  .support {

    .sub-title {
      margin-bottom: (5em/11);
    }
  }

  .sub-title {
    display: block;

    margin-top: 0;

    font-size: (11em/16);
    font-weight: $bold;

    opacity: .45;
  }

  .author {
    display: flex;

    @include breakpoint($mobile-p) {

      margin-top: (18em/16);
    }

    @include breakpoint($tablet) {

      display: none;
    }

    a {

      line-height: 1px;
    }

    .icon {
      opacity: .4;

      transition: opacity .2s linear;

      &:hover {

        opacity: 1;
      }

      &_sho {
        width: 45px;
        height: 20px;
      }

      &_bobra {
        width: 74px;
        height: 20px;
      }
    }

    .line {
      display: inline-block;

      width: 1.4px;
      height: 20px;

      margin: 0 (11em/16);

      background-color: #1d5a8e;

      opacity: .4;
    }
  }
}

.phone-link {
  align-self: baseline;

  position: relative;

  font-size: (16em/16);
  line-height: 1px;

  font-weight: $semi-bold;

  &:hover {

    span {

      color: #53a2d6;
    }

  }

  &:first-of-type {

    margin-bottom: (5em/16);
  }

  & + span {

    font-size: (11em/16);
  }

  span {
    vertical-align: middle;

    transition: color .2s ease;

    line-height: 1px;
  }

  .icon {
    width: 15px;
    height: 15px;

    vertical-align: middle;

    margin-right: (6em/16);

    &_kyivstar {
      width: 16px;

      margin-bottom: (1em/16);
    }
  }
}

.main-nav,
.footer {

  .btn-container {
    @include flex;
    flex-direction: column;
  }
}
