/*
* Menu hamburger styles
 */

@use "sass:math";

body {

  .menu-hamburger {

    @include breakpoint($mobile) {
      border-color: transparent;

      background: transparent;

      box-shadow: none;
    }

    &.active {

      .line {

        stroke: $color-secondary;
      }
    }
  }
}

.menu-hamburger {

  .bg_menu {
    width: 0;
    height: 0;

    position: absolute;

    top: 50%;
    left: 50%;

    pointer-events: none;

    transform: translate(-50%,-50%);

    opacity: 1;

    border-radius: 50%;

    background-color: #2699fb;

    transition: width .8s cubic-bezier(1,0,0,1), height .8s cubic-bezier(1,0,0,1);

    z-index: -1;
  }

  .hamburger,
  .label {

    vertical-align: middle;
  }

  .hamburger {
    opacity: .6;

    width: 16px;

    position: relative;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 1;

    @include breakpoint($mobile) {
      width: 22px;

      opacity: 1;
    }

    .top {
      //noinspection CssInvalidPropertyValue
      stroke-dasharray: 40 121;
    }

    .bottom {
      //noinspection CssInvalidPropertyValue
      stroke-dasharray: 40 121;
    }
  }

  .label {
    display: inline-block;

    margin-right: math.div(8em, 16);

    position: relative;

    color: $color-secondary;

    z-index: 1;
  }

  .avatar {
    width: 48px;
    height: 48px;

    box-shadow: 0 2px 6px rgba(13,112,196,.33);

    &:after {

      content: none;
    }
  }
}

@keyframes hide-button-bg {
  from {
    background: linear-gradient(#39a3ff,#0e8fff);

    border-color: #3dabff transparent #0072d4;

    box-shadow: 0 5px 11px -4px rgba(0,130,251,.6);
  }
  to {
    background: transparent;

    border-color: transparent;

    box-shadow: none;
  }
}
