/*
Typing spinner styles
 */

.typing-spinner {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  vertical-align: middle;

  pointer-events: none;

  .dot {
    display: inline-block;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: #2699FB;

    &:not(:last-child) {

      margin-right: 6px;
    }

    &:first-child {

      animation: dot .9s linear infinite;
    }

    &:nth-child(2) {
      opacity: .62;
      animation: dot .9s .225s linear infinite;
    }

    &:last-child {
      opacity: .4;

      animation: dot .9s .45s linear infinite;
    }
  }
}

@keyframes dot {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
