/*
* Data list styles
*/

@use "sass:math";

.data-list {
  width: 100%;
  max-width: 312px;

  @include breakpoint($mobile-p) {

    max-width: none;
  }

  &.wider {
    max-width: 414px;

    @include breakpoint($mobile-l) {

      padding-right: math.div(34em, 16);
    }
  }

  &__title {
    margin-bottom: math.div(8em, 18);

    font-size: math.div(18em, 16);
    font-weight: $bold;
  }

  > li {
    @include justify-content;
    @include valign-center;

    padding: math.div(8em, 16) 0;

    &:not(:last-of-type) {

      border-bottom: 1px solid rgba(28,83,119,.12);
    }

    &.unbordered {

      span {

        font-size: math.div(15em, 16);
      }
    }

    &.bolder {

      border-bottom: 1px solid rgba(255,255,255,.65);
    }

    &.indented {
      margin-top: math.div(13em, 16);
      margin-bottom: math.div(22em, 16);
      padding: 0;

      @include breakpoint ($mobile-p) {

        margin-bottom: math.div(10em, 16);
      }
    }

    &.data-list__title {

        padding: 0;
    }

    span {
      font-size: math.div(14em, 16);

      &.increased {
        font-size: math.div(20em, 16);

        @include breakpoint($tablet-p) {

          font-size: math.div(19em, 16);
        }

        @include breakpoint($mobile) {

          font-size: math.div(19em, 16);
        }

        &:first-of-type {

          @include breakpoint($mobile) {
            padding-right: (20em*0.05);

            text-align: left;
          }

          @include breakpoint($tablet-p) {

            padding-right: math.div(30em, 16);
          }
        }

        &:last-child {

          @include breakpoint($mobile) {

            text-align: right;
          }

          @include breakpoint($tablet-p) {

            white-space: nowrap;
          }
        }
      }
    }

    a {

      span {

        font-size: math.div(15em, 18);
      }
    }
  }

  p {
    line-height: math.div(23em, 15);
    font-size: math.div(15em, 16);
    font-weight: $regular;
  }
}
