/*
* Support styles
 */
@import "../../../app/styles/base/variables";
@import "../../../app/styles/base/mixins";

.support {

  > span {

    display: block;
  }

  .phone-link {
    display: inline-block;

    position: relative;

    font-weight: $bold;

    &:not(:last-child) {

      margin-bottom: (5em/16);
    }
  }

  > .sub-title {

    margin: (8em/15) 0 (6em/15);
  }

  .btn_blue {

    > span {

      &:last-child {

        font-size: (17em/16);
      }
    }
  }

  .emoji {

    & + span {

      padding-left: (12em/17);
    }

    &_speaker {

      &:before {
        content: "";

        display: inline-block;

        width: 20px;
        height: 20px;

        background: url("talking.png") no-repeat;
        background-size: contain;
      }
    }
  }
}

.status {

  .support {

    .btn {
      display: none;

      &-container {
        @include flex;
        flex-direction: column;

        margin-top: (22em/16);

        .phone-link {
          align-self: center;

          font-size: (21em/16);
          line-height: 1em;

          &:first-of-type {
            margin-bottom: (10em/21);
          }
        }
      }
    }

    > span {

      display: none;
    }
  }
}
