/*
* Variables
*/

/*
* Susy breakpoints
*/
@use "sass:math";

$portrait: (min-width 1px) (max-aspect-ratio '13 / 9');
$landscape: (min-width 1px) (min-aspect-ratio '13 / 9');

// Mobile
$iphone4-p:(max-width 320px) (max-height 480px);
$iphone4-l:(max-width 480px) (max-height 320px);
$iphone5-p:(max-width 320px) (max-height 568px);
$iphone5-l:(max-width 568px) (max-height 320px);
$mobile: (max-width 47.938em);
$mobile-p: (max-width 47.938em) (max-aspect-ratio '13 / 9');
$mobile-l: (max-width 47.938em) (min-aspect-ratio '13 / 9');
$mobile-l-md: (min-width 640px) (max-width 47.938em) (min-aspect-ratio '13 / 9');
$mobile-l-lg: (min-width 720px) (max-width 47.938em) (min-aspect-ratio '13 / 9');

// Tablet
$tablet: (min-width 48em) (max-width 64em);
$tablet-p: (min-width 48em) (max-width 1023px);
$tablet-l: (min-width 1024px) (max-width 1024px);
$tablet-lg: (min-width 1200px) (max-width 1279px);

// Boundary
$tablet-laptop-boundary: (min-width 1025px) (max-width 1199px);

// Laptop
$laptop: (min-width 1025px) (max-width 1440px);
$laptop-not-large: (min-width 1025px) (max-width 1439px) (max-height 899px);
$laptop-sm: (min-width 1025px) (max-width 1279px);
$laptop-md: (min-width 1280px) (max-width 1439px);
$laptop-lg: (min-width 1440px) (max-width 1440px) (min-height 900px);
$desktop: (min-width 1441px) (max-width 1600px);

// Mobile & tablet portrait
$mobile-tablet-p: $mobile, $tablet-p;

// Mobile & tablet
$mobile-tablet: $mobile, $tablet;
$mobile-l-tablet-p: $mobile-l, $tablet-p;

// Tablet & laptop
$tablet-l-laptop-sm: $tablet-l, $laptop-sm;
$tablet-laptop-sm: $tablet, $laptop-sm;
$tablet-laptop: $tablet, $laptop-not-large;
$tablet-l-laptop: $tablet-l, $laptop-not-large;
$boundary-t-l: $tablet-l, $tablet-laptop-boundary;

// Content
$page-width: 1200px;
$article-width: 965px;

// Indent
$section-content-indent-x: math.div(152em, 16);
$section-content-indent-x-mob: math.div(24em, 16);
$section-content-indent-x-tablet: math.div(30em, 16);
$section-content-indent-x-tablet-lg: math.div(112em, 16);

// Fonts
$font-primary: 'Arial', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$main-line-height: math.div(26em, 17);

// Colors
$color-primary: #385a71;
$color-secondary: #fff;
$color-title: #1c5377;
$home-chat-bg-color: #eff8ff;

// z-index: map-get($zindex, ...);
$zindex: (
  preloader       : 1100,
  modal           : 1000,
  overlay         : 900,
  hamburger       : 800,
  main-nav        : 701,
  header          : 700,
  bot             : 602,
  nav             : 600,
  tooltip         : 500,
  footer          : 400,
  dropdown        : 300,
  aside           : 200,
  under           : -1,
);

// border-radius
$btn-border-radius: 35px;
